*.Rproj.user
*.Rproj
*.Rhistory
.RData
*.Ruserdata
schema.ini
.Rproj.user
VAST_runs/refine_effort/parameter_estimates.RData
VAST_runs/refine_effort/refine_effort.RData
Data/Density_Covariates/Bottom_temp/hubert/bottom_temp_combined_product_1959_2020.nc
Model_Refinement/Old/
Data/Density_Covariates/Bottom_temp/Old
VAST_runs/refine_effort2/refine_effort2.RData
VAST_runs/refine_effort_onlysmalls/only_smalls.RData
VAST_runs/add_climate_aja3/add_climate_aja3.RData
VAST_runs/add_climate_aja3/parameter_estimates.RData
VAST_runs/add_climate_aja4/GBK/parameter_estimates.RData
VAST_runs/add_climate_aja4/SNE/add_climate_aja4_sne.RData
VAST_runs/add_climate_aja4/SNE/parameter_estimates.RData
VAST_runs/add_climate_aja4/WGOM/add_climate_aja4_wgom.RData
VAST_runs/add_climate_aja4/WGOM/parameter_estimates.RData
VAST_runs/add_climate_aja4/GBK/add_climate_aja4_gbk.RData
VAST_runs/add_climate_aja4/ALL/add_climate_aja4_all.RData
VAST_runs/add_climate_aja4/ALL/parameter_estimates.RData
VAST_runs/add_climate_aja4/EGOM/add_climate_aja4_egom.RData
